div(class="d-md-flex flex-column justify-content-center align-items-center h-100")
  img(src="./imgs/avatar_1.jpg" class="big-avatar mb-3")
  p(class="h6 fw-bold mb-0 text-dark") Привет, Кодовёнок
  p(class="small text-secondary mb-0") Выбери чат, чтобы начать общаться