form(class="mb-md-5")
  div(class="form-group mb-0")
    label(class="h2 text-dark fw-bold mb-4" for="search")= titleAndFind.formName
    input(type="text" id="search" placeholder= titleAndFind.formText class="form-control p-4 border-1 border-top-0 border-start-0 border-end-0 border-gray-custom bg-white shadow-none")