@import "./general/mixins";

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .overflow-list#{$infix} {
      height: calc(100vh - $header-height-mobile);

      overflow-y: scroll;

      @include hide-scrollbar;
    }

    .overflow-list-left#{$infix} {
      height: calc(100vh - $header-height-desktop);

      overflow-y: scroll;

      @include hide-scrollbar;
    }

    .overflow-list-right-desktop#{$infix} {
      height: calc(100vh - $chat-header-height-desktop);

      overflow-y: scroll;

      @include hide-scrollbar;
    }

    .overflow-list-right-mobile#{$infix} {
      height: calc(100vh - $chat-header-height-mobile);

      overflow-y: scroll;

      @include hide-scrollbar;
    }
  }
}
